:root {
    --first-color:#1877f2;
    --heading-color:#000000;
    --text-color :#555d6c;
    --heading-dark-theme-color:#ffffff;
    --text-dark-theme-color:#c5c9cf;

    --second-color: #125893;
    --bg-pr: #fff;
    --bg-sc: #fafaff;
    --bg-th: #ffffff;
    --bg-black-50: #e8dfec;
    --text-color: #333;
    --p-color: #666;
    --boxshadow-color: #ddd;
    --main-transition: .3s;
    --main-border-radius: 10px;
    --tird-color:#f85c13;
}


.contact{
    margin-top: 55px;
    font-family: "Josefin Sans", sans-serif;
}

.contact .main-title {
    text-align: center;
 
   position: relative;
    margin-bottom: 20px;
    

}

.contact .main-title h1{
    color: var(--heading-color);
  font-weight: bold;
    cursor: pointer;
}
.contact .main-title:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
 
    height: 4px;
    width: 200px;

    background-color: var(--main-color);
    transition:  all.6s  linear;
}

.shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;            width: 95%;
        border-radius: 25px;
        margin: auto;
  
    
}
.all{
padding: 40px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.home__social{
    display: flex;
    flex: 1;
  
  }

  .home__social-icon  {

   
    width: 40px;
    height: 40px;
    border-radius: 6px;
    padding: 5px;
    margin-left: 10px;
 
  }
.social-content{
    padding: 20px 0 20px 10px;
}
.social-content h5{
    color: var(--main-color);
    padding: 10px 0 10px 0;
}
.social-content p{
    font-size: 1.1rem;
    line-height: 1.9;
    color:#333;
}
.links{
    padding: 10px 0 20px 0;
}
.links a{
    display: block;
    text-decoration: none;
    color: #666;
    padding-top: 10px;
    font-size: 1.3rem;
 
}
.links a svg{
    color: var(--main-color);
    margin-right: 5px;
}
.links .link {
    display: flex;
    flex: row;
} .links .link  i{
    margin-top: 20px;
    margin-right: 10px;
    font-size: 1.3rem;
    color: #1877f2;
}
.bg{
    background-color: #1877f2;
}
.contact-icons{
    display: flex;
    flex-direction: row-reverse;
    padding :20px 0 50px 10px
    
}
.contact-icons a{
    padding: 10px;
   
}
.contact-icons a i{
    font-size: 1.5rem;
}
.contact-form{
    padding: 20px 0 20px 10px;
    text-transform: capitalize;
}
.contact-form h3{
    color: var(--bg-pr);
    font-weight: 600;
    padding: 10px 0 20px 0 ;
}
 form input, form textarea {
    border-radius: 10px;
    background: none;
 
    border: 2px solid #ffff;
    outline: none;
 }

 form input::placeholder, form textarea::placeholder {
color: #ddd;
font-weight: 600;
 }
 form .btn{
background-color: #fff;
border: none;
color: var(--main-color);
font-weight: 600;
 }
