<div class="contact py-4" id="contact">
    <div class="container py-4 ">
    <div class="main-title">
    <h1 >{{'contact.title' | translate}}</h1>
</div>
<div class="shadow">
    <div class="row" data-aos="flip-up">
        <div class="col-md-6 bg-white">
            <div class="social-content">

                <h5>{{'contact.social' | translate}} </h5>
                <p>{{'contact.text' | translate}}.</p>
<div class="links" dir="ltr">
    <div class="link">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <a href="mailto:bassamramadan964@gmail.com" class="mail"> bassamramadan964@gmail.com</a>
      
    </div>
    <div class="link">
        <i class="fa fa-phone-square" aria-hidden="true"></i>

        <a href="tel:01159350591" class="phone">(+20) 11-59-35-05-91</a>

    </div>

</div>

             
                <div class="contact-icons ">
                    <a href="https://www.linkedin.com/in/bassam-ramadan-14436a185/" class="home__social-icon" style="color: #0072d3;"><i class="fab fa-linkedin" ></i></a>
                    <a href="https://github.com/BassamRamadan2611" class="home__social-icon" style="color: #333;"><i class="fab fa-github"></i></a>
                     <a href="https://twitter.com/BassamR52891973" class="home__social-icon"><i class="fab fa-twitter"></i></a>
                     <a href="https://www.instagram.com/bassam9174/" class="home__social-icon" style="color: #dd2a7b;"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100007638137434" class="home__social-icon" style="color: #3b5998;"><i class="fab fa-facebook" ></i></a>
                    <a href="mailto: bassamramadan964@gmail.com" class="home__social-icon" style="color: #ec1346;">   <i class="fa fa-envelope" ></i></a>
            
                 
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-primary">
            <div class="contact-form">
                <h3>{{'contact.title' | translate}}</h3>
                <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)" >
                    <div class="row">
                    <div class="col-md-12">
                    <div class="form-group">
                    <input type="text" class="form-control" formControlName="Fullname" placeholder="{{'contact.name' | translate}}">
                    </div>
                    </div>
                    <div class="col-md-12">
                    <div class="form-group">
                    <input type="email" class="form-control" formControlName="Email" placeholder="{{'contact.email' | translate}}">
                    </div>
                    </div>
                
                    <div class="col-md-12">
                    <div class="form-group">
                    <textarea name="message" class="form-control" formControlName="Message" cols="30" rows="7" placeholder=" {{'contact.message' | translate}}"></textarea>
                    </div>
                    </div>
                    <div class="col-md-12">
                    <div class="form-group">
                    <input type="submit" value="{{'contact.send' | translate}} "   [disabled]="!FormData.valid" class="btn ">
                  
                    </div>
                    </div>
                    </div>
                    </form>


            </div>
        </div>
    </div>
</div>



</div>
</div>