
:root {
    --first-color:#1877f2;
    --heading-color:#000000;
    --text-color :#555d6c;
    --heading-dark-theme-color:#ffffff;
    --text-dark-theme-color:#c5c9cf;

    --second-color: #125893;
    --bg-pr: #fff;
    --bg-sc: #fafaff;
    --bg-th: #ffffff;
    --bg-black-50: #e8dfec;
    --text-color: #333;
    --p-color: #666;
    --boxshadow-color: #ddd;
    --main-transition: .3s;
    --main-border-radius: 10px;
    --tird-color:#f85c13;
}




.portfolio{
    background-color:#e5e7eb;
}

.portfolio .main-title {
    text-align: center;
 
   position: relative;
    margin-bottom: 20px;
    

}

.portfolio .main-title h1{
    color: var(--heading-color);
  font-weight: bold;
    cursor: pointer;
}
.portfolio .main-title h1:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
 
    height: 3px;
    width: 200px;

    background-color: #1877f2;
    transition:  all.6s  linear;
}


.links {
    margin-top: 40px;
    justify-content: center;
}
.links button {
    color: var(--text-color);
    background-color: #ffff;
    font-weight: 600;
    padding: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    transition: all 1ss ;
    cursor: pointer;
    text-align: center;
    border: none;
}
.links  button.active{
    background-color: #1877f2;
    color: #ffff;

}
.links  button:hover{
  background-color: #1877f2;
  color: #ffff;

}
.wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  



 
  .card {
    display: block; 
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #ffffff;
      border-radius: 8px;
      transition: all .25s; 
      max-height: 400px;
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
    overflow: hidden;
  }
  .img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    overflow-y: scroll;
    transition: all .25s ease;
  } 
  .card-content {
    padding:10px;
   text-align: center;
 }
 .card-content p{
    text-align: left;
    max-height: 60px;
 }
  .card-title {
    margin-top:0px;
    font-weight: 600;
    font-size: 1.5em;
    color: var(--text-color);
  }

  .card-read-more {
    border-top: 1px solid #D4D4D4;
  }

  .card-read-more i{
    color: var(--first-color);
    transition: all .5s;
    cursor: pointer;
    padding: 8px;
    width: 100px;
    font-size: 20px;

  
  }
  .card-read-more i:hover{
    color: #ffffff;
    background-color: #1877f2;
  }