
/*===== HOME =====*/

:root{
  --main-color: #0072d3;
      --second-color: #125893;
      --bg-pr: #fff;
      --bg-sc: #fafaff;
      --bg-th: #f2f2fc;
      --bg-black-50: #e8dfec;
      --text-color: #333;
      --p-color: #666;
      --boxshadow-color: #ddd;
      --main-transition: .3s;
      --main-border-radius: 10px;
  }
body{
    font-family: Josefin Sans,sans-serif;
}
.header{
 background-color: var(--bg-pr);
}
.header-container{
  justify-content: center;
  align-items: center;
  
}

 .home{
  padding-top: 50px;
 }
  .home-data h1{
    color: var(--text-color);
  }
  .hello{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .text{
    display: flex;
    flex-direction: column;
  }
 

  .home__social{
    display: flex;
    flex: 1;
  
  }

  .home__social-icon  {

   
    width: 40px;
    height: 40px;
    border-radius: 6px;
    padding: 5px;
    margin-left: 10px;
 
  }

  .img{
    position: relative;
    transition: .3s;

  }
  


  .control, .control-icon {
    position:fixed;
    top:50%;
    right:50px;
    background-color: white;
    padding:1rem;
    border-radius: 4px;
    z-index: 20;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
  }

  .control li {
    margin-bottom:10px;
    list-style: none;

  }

  .control li a {
    background-color: #1877f2;
    color:white;
    padding:10px 0;
    display: block;
    width:130px;
    text-align: center;
  }

  .control-icon {
    right: -8px !important;
    padding:5px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
  }

  .control-icon img {
    width:70%;
    transition: 4s ease-in-out;
    animation: rotate 2.5s linear infinite;
  }

  @keyframes rotate {

    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(180deg);
    }
    
  }

  @media (max-width:400px) {
    .user_name {
      display: none;
    }
  }

  .typewriter { font-family: 'Courier New', monospace; } .typewriter::after { content: '|'; animation: blink 0.5s infinite; } @keyframes blink { 0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } }