
 
<!---
 <div class="settings-box" [class.open]="classToggled">
    <div class="toggle-settings" (click)="toggleSettings()">
    <i class="fas fa-cog"></i>
    </div>
    <div class="settings-container">
      <div class="lang">
         <p>{{'all.lang' | translate}}<p>
    <div class="lang-btn">
    <button class="btn btn-primary m-2" (click)="changeLang('ar')">العربية</button>
    <button class="btn btn-primary m-2" (click)="changeLang('en')">English</button>
    
    </div>
  </div>
  <div class="theme">


<mat-slide-toggle  class="toggle" (click)="switchTheme() "> <span class="dark m-2">{{'all.mode' | translate}}</span> </mat-slide-toggle>

  </div>
</div>
</div>
   

<app-about-me></app-about-me>
<app-skills></app-skills>
 <app-portfolio></app-portfolio>
 <app-contact></app-contact>
 
 <app-footer></app-footer>


-->

<app-header></app-header>
<app-skills></app-skills>
<app-services></app-services> 
<app-portfolio></app-portfolio>
<app-contact></app-contact>
<app-footer></app-footer>

