<div class="container py-4 " >
    <div class="services py-4" id="services">

        <div class="main-title">
          <h1 >{{'services.title' | translate}}</h1>
          </div>
          <p class="text-center">This is what i can do for you</p>

    <div class="row services_containe">


        <div class="col-md-4 col-sm-12"  data-aos="zoom-in-up">
           <div class="box">
               <i class="fas fa-mobile-alt fa-3x"></i>
               <div class="brdr"></div>
                <h3>{{'services.devTitle' | translate}} </h3>
               <p>{{'services.devText' | translate}}</p>
      </div>

        </div>


        <div class="col-md-4 col-sm-12" data-aos="zoom-in-up" >
            <div class="box">
                <i class="fas fa-solid fa-code fa-3x"></i>
                        <div class="brdr"></div>
                        <h3>{{'services.resTitle' | translate}}</h3>
                         <p>{{'services.resText' | translate}}</p>
                    </div>
                    </div>


                    
                    <div class="col-md-4 col-sm-12"  data-aos="zoom-in-up">
                        <div class="box">
                            <i class="fas fa-desktop fa-3x"></i>

                               <div class="brdr"></div>

                        <h3>{{'services.angTitle' | translate}}</h3>
                        <p>{{'services.angText' | translate}}</p>
                        </div>
                     </div>
    </div>
    

    </div>
    </div>



    