<div class="container py-4 " >

    <div class="services py-4" id="services">
    
        <div class="main-title">
        <h1 >{{'services.title' | translate}}</h1>
    </div>

    <div class="row service-container">
        <div class="col-md-4 col-sm-12" >
<div class="box">
    <img src="assets/img/design.png">

<h3>{{'services.devTitle' | translate}} </h3>
<p>{{'services.devText' | translate}}</p>
</div>
        </div>


        <div class="col-md-4 col-sm-12" >
            <div class="box">
              
                <img src="assets/img/build website 2.png">

            <h3>{{'services.resTitle' | translate}}</h3>
            <p>{{'services.resText' | translate}}</p>
                    </div>
                    </div>
                    <div class="col-md-4 col-sm-12" >
                        <div class="box">
                        <img src="assets/img/segue-blog-Application-Using-Angular-JS.png">
                        <h3>{{'services.angTitle' | translate}}</h3>
                        <p>{{'services.angText' | translate}}</p>
                        </div>
                                </div>
    </div>
    

    </div>
    </div>


