:root {
    --main-color: #0072d3;
    --second-color: #125893;
    --bg-pr: #fff;
    --bg-sc: #fafaff;
    --bg-th: #f2f2fc;
    --bg-black-50: #e8dfec;
    --text-color: #333;
    --p-color: #666;
    --boxshadow-color: #ddd;
    --main-transition: .3s;
    --main-border-radius: 10px;
}



.skills{
    background-color: #e5e7eb;
    margin-top: 55px;
  

}
.skills-container{
    justify-content: center;
}

.skills .main-title {
    text-align: center;
 
   position: relative;
    margin-bottom: 55px;
    

}

.skills .main-title h1{
    color: var(--text-color);
  font-weight: bold;
    cursor: pointer;
}
.skills .main-title:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
 
    height: 3px;
    width: 120px;

    background-color: var(--main-color);
    transition:  all.6s  linear;
}

.skill{
    background-color: #ffff;

   display: flex;
   align-items: center;

   flex-direction: column;
   margin-bottom: 20px;
   gap: 10px;
   border-radius: 10px;
   margin-right: 20px;
  transition: all 1s ;
  width: 150px;
  height: 150px;
  cursor: pointer;
justify-content: center;
align-items: center;


}
.skill:hover{
  transform: scale(1.1) ;

}
.skill h5{
   font-weight: 600;
    color: #111;
    padding-top: 10px;
   
}
@keyframes rotate {

    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(180deg);
    }
    
  }

.skill img{
border-radius: 4px;
 width: 70px;
 height: 70px;

}

.owl-item {width: 128.906px; margin-right: 10px; background:powderblue; }



/** to hide dots

.owl-theme .owl-dots .owl-dot{ display:none!important;}

**/
