
<div class="skills py-4" id="skills">
<div class="container">

    
    <div class="main-title ">
        <h1 >{{'skills.title' | translate}}</h1>
    </div>

    <div class="row skills-container">
    
            <div class="skill">
                <h5>HTML5</h5>
                <img src="assets/img/HTML5NEW.png" >
    
            </div>
     
            <div class="skill">
                <h5>CSS</h5>
                <img src="assets/img/css-3.463e319bad8e0edf1ef7.png" >
    
            </div>
    
        <div class="skill">
            <h5>JAVASCRIPT</h5>
            <img src="assets/img/java-script.b70a3726316139ebd24f.png" >

        </div>
 
        <div class="skill">
            <h5>BOOTSTRAP</h5>
            <img src="assets/img/bootstrap.268c4375260420e8d982.png" >

        </div>

        <div class="skill">
            <h5>JQUERY</h5>
            <img src="assets/img/th.jpg" >

        </div>
   
        <div class="skill">
            <h5>JSON</h5>
            <img src="assets/img/json.png" >

        </div>
      
        <div class="skill">
            <h5>TYPESCRIPT</h5>
            <img src="assets/img/png-transparent-typescript-hd-logo-thumbnail.png" >

        </div>
       
     
        <div class="skill">
            <h5>ANGULAR</h5>
            <img src="assets/img/angular.png" >

        </div>
        <div class="skill">
            <h5>GIT</h5>
            <img src="assets/img/git.svg" >

        </div>
        <div class="skill">
            <h5>GITHUB</h5>
            <img src="assets/img/github.png" >

        </div>
        
    </div>
</div>


</div>
