
<div class="skills py-4" id="skills" >
<div class="container">

        <div class="main-title ">
          <h1 >{{'skills.title' | translate}}</h1>
        </div>

    <div class="row skills-container"  data-aos="zoom-out-up">
    
            <div class="skill">
                <img src="assets/img/HTML5NEW.png" >
                <h5>HTML5</h5>
            </div>
     
            <div class="skill">
                <img src="assets/img/css-3.463e319bad8e0edf1ef7.png" >
                <h5>CSS3</h5>
            </div>

            <div class="skill">
                <img src="assets/img/tailwind.png" >
                <h5>TAILWIND</h5>
            </div>
    
        <div class="skill">
            <img src="assets/img/java-script.b70a3726316139ebd24f.png" >
            <h5>JAVASCRIPT</h5>
        </div>
 
        <div class="skill">
            <img src="assets/img/bootstrap.268c4375260420e8d982.png" >
            <h5>BOOTSTRAP</h5>
        </div>

        <div class="skill">
            <img src="assets/img/th.jpg" >
            <h5>JQUERY</h5>
        </div>
   
        <div class="skill">
            <img src="assets/img/json.png" >
            <h5>JSON</h5>
        </div>
      
        <div class="skill">
            <img src="assets/img/png-transparent-typescript-hd-logo-thumbnail.png" >
            <h5>TYPESCRIPT</h5>
        </div>
       
     
        <div class="skill">
            <img src="assets/img/angular.png" >
            <h5>ANGULAR</h5>
        </div>
        <div class="skill">
            <img src="assets/img/git.svg" >
            <h5>GIT</h5>
        </div>
        <div class="skill">
            <img src="assets/img/github.png" >
            <h5>GITHUB</h5>

        </div>
        
    </div>
</div>


</div>
