
:root{
--main-color: #0072d3;
    --second-color: #125893;
    --bg-pr: #fff;
    --bg-sc: #fafaff;
    --bg-th: #f2f2fc;
    --bg-black-50: #e8dfec;
    --text-color: #333;
    --p-color: #666;
    --boxshadow-color: #ddd;
    --main-transition: .3s;
    --main-border-radius: 10px;
}
.light-theme {
  --main-color: #0072d3;
  --second-color: #125893;
  --bg-pr: #fff;
  --bg-sc: #fafaff;
  --bg-th: #f2f2fc;
  --bg-black-50: #e8dfec;
  --text-color: #333;
  --p-color: #666;
  --boxshadow-color: #ddd;
  --main-transition: .3s;
  --main-border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
}

.dark-theme {
  --bg-pr: #333;
  --bg-sc: #222;
  --bg-th: #141416;
  --text-color: #eee;
  --p-color: #fafafa;
  --boxshadow-color: #333;
  --main-border-radius: 10px;
  background-color: #0f0f0f;
}

html{
  scroll-behavior: smooth;

}

body {

  font-family: Arial, Helvetica, sans-serif;
background-color: transparent;
  position: relative;
  transition: all .3s ease-in-out;
  overflow-x: hidden;
}
html, body {
   overflow-x: hidden;
 }
body {
   width:100%;
 }